[Unit]
Description=Erigon proxy
Requires=network-online.target
After=network-online.target

[Service]
CapabilityBoundingSet=
DynamicUser=yes
EnvironmentFile=-/etc/sysconfig/erigon_proxy
ExecStart=/usr/bin/erigon_proxy
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateTmp=yes
ProtectHome=tmpfs
ProtectSystem=strict
Restart=always
RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=yes
RestrictRealtime=yes
WorkingDirectory=/tmp

[Install]
WantedBy=multi-user.target
